# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Local upscaler workspace (temp inputs, outputs, logs, ZIPs)
AdobeStockUpscaler/
input/
output/
failed/
logs/

# Pretrained model weights
experiments/pretrained_models/
*.pth

# Cloudflared binaries
cloudflared

# Jupyter checkpointing
.ipynb_checkpoints/

# Cloned dependencies
Real-ESRGAN/


# Environment variables
.env
